*{
	font-family: ubuntu;
}
body{
	background-color:#c1bebe;
}
.main{
	/*margin: 10px;*/
	/*border:5px solid #8cd4f5;*/
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.main.active{
	border:5px solid #8cd4f5;
}
.logo{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.logo img{
	width: 48px;
    height: 48px;
    border-radius: 76px;
}
.logo h4{
	font-size: 22px;
    color: #5f5c5c;
}
.heading{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: #5f5c5c;
}

.main1{
	display: flex;
	flex-flow: column;
	/*justify-content: center;*/
	align-items: center;
	width: 70%;
	height: 480px;
	background-color: white;
	border:2px solid orange;
	margin-top: 50px;
	border-radius: 40px;
}
.main1 .img{
	background-color: white;
	padding: 5px;
	border:2px solid orange;
	border-radius: 50%;
	display: flex;justify-content: center;align-items: center;
	position: relative;
    top: -45px;
}
.main1 img{
	height: 130px;
	width: 130px;
	border-radius: 50%;
}
.msg{
	margin: 20px;
}
.main1 p{
	margin-right: 90px;
    width: 500px;
	font-size: 20px;
	color: grey;
	margin-bottom: 100px;
}
.social{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}
.social .fab{
	width: 40px;
	background-color: white;
	border-radius: 50%;

}
.fb{
	display: flex;justify-content: center;align-items: center;
	width: 40px;
	height: 40px;
	border:1px solid blue;
	border-radius: 50%;
	margin: 5px;
}
a{
	text-align: center;
}
a{
	font-size: 25px;
}
.insta{
	display: flex;justify-content: center;align-items: center;
	width: 40px;
	height: 40px;
	border:1px solid black;
	border-radius: 50%;
	margin: 5px;
}
.twi{
	display: flex;justify-content: center;align-items: center;
	width: 40px;
	height: 40px;
	border:1px solid blue;
	border-radius: 50%;
	margin: 5px;
	color: blue;
}
.social h4{
	color: grey;
	font-style: italic;
}
.para{
	width: 650px;
	color: grey;
	font-style: italic;
}
.head{
	display: flex;
	/*justify-content: center;*/
}
.head1{
	width: 200px;
}
.head2{
	display: flex;
	width: 500px;
	/*ssjustify-content: flex-end;*/
}
.head3 h4{
	margin: 0px;
}
.head img{
     width: 40px;
     height: 40px;
     border-radius: 50%;
}
.head a{
	font-size: 20px;
	text-decoration: none;
}
.head h5{
	margin: 0px;
}